/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html{
    margin:0;
}
body{
    margin:0;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

*{
    font-family: sans-serif;
}

#devtools > main {
  flex-direction: row;
  overflow-y: auto;
}



main >*{
  overflow:hidden;
}

.xterm{
  margin: 20px;
  border-radius: 20px;
  padding: 10px;
  background: black;
}

.xterm-dom-renderer-owner-1 .xterm-rows *{
  font-family: "Cascadia Code", Menlo, monospace;
}

