version: 2
updates:
#  # gitsubmodules in 3rdparty
## Why is this disabled? 
##  Dependabot cannot currently update from Tag -> Newer Tag
#   Only to newer commits. Therefore it is not providing us the 
#   updates we need :c
#  - package-ecosystem: "gitsubmodule"
#    directory: "/"
#    schedule:
#      interval: "monthly"
#    labels:
#      - "dependencies"
  # Windows Wireguard-Go
  - package-ecosystem: "gomod"
    directory: "/windows/tunnel"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
  # Android Wireguard-Go
  - package-ecosystem: "gomod"
    directory: "/android/daemon/tunnel/libwg-go"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
  # Balrog Updater
  - package-ecosystem: "gomod"
    directory: "/balrog"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
  # Android JVM Dependencies 
  - package-ecosystem: "gradle"
    directory: "/android/"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
  # Mac Native Messagging 
  - package-ecosystem: "cargo"
    directory: "/extension/bridge"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
  # Addon signature
  - package-ecosystem: "cargo"
    directory: "/signature"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
  # Addon signature
  - package-ecosystem: "pip"
    directory: "/taskcluster"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
  # Python build deps
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "monthly"
    labels:
      - "dependencies"
    # We should not update glean-parser unless we are updating the glean submodule.
    ignore:
      - dependency-name: "glean-parser"
  # Functional Tests etc
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
  # Inspector
  #- package-ecosystem: "npm"
  #  directory: "/tools/inspector"
  #  schedule:
  #    interval: "weekly"
  #  labels:
  #    - "dependencies"
  # Language Localizer
  #- package-ecosystem: "npm"
  #  directory: "/tools/languagelocalizer"
  #  schedule:
  #    interval: "monthly"
  #  labels:
  #    - "dependencies"
  # Glean/Rust
  - package-ecosystem: "cargo"
    directory: "/vpnglean"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
