# For a list of checks and what they do see
# https://clang.llvm.org/extra/clang-tidy/checks/list.html
#
# Everything marked under Checks will be warnings
# WarningAsErrors bump them to a CI error. 
Checks: >  
  clang-diagnostic-*,
  clang-analyzer-*,
  performance*
  cppcoreguidelines-*,
  -cppcoreguidelines-owning-memory,
  modernize*,
  -modernize-use-trailing-return-type,
  misc*,
  -misc-no-recursion
WarningsAsErrors: >
  clang-analyzer-security.*
HeaderFilterRegex: '^q.*\.h$' # Any qHeader, so we don't get warnings for qt thigns.
AnalyzeTemporaryDtors: false
# Use our .clang-format file when applying fixes.
FormatStyle: file
