.DS_Store
Makefile
*.o
.obj
.moc
.rcc
*.pro.user
*.pro.user*
src/mozillavpn
src/mozillavpn.app
src/mozillavpn.framework
mozillavpn_wg
mozillavpn.qmltypes
mozillavpn_metatypes.json
mozillavpn_qmltyperegistrations.cpp
qrc_qml.cpp
.qmake.stash
dbus_adaptor.*
dbus_interface.*
mozillavpn-daemon
*_plugin_import.cpp
translations/*.qm
translations/*.pri
.qm
.tmp

# Ignore files that might be added by Android Studio
# if someone opens the android/ subproject
android/.gradle/
android/.idea/
android/build
xcode.xconfig
.gradle/
android/build
*.ts
tests/unit/tests
build
Debug/
Debug-iphone*
Release/
Release-iphone*
macos/gobridge/wireguard-go-version.h

# Editors
*.swp
.idea/
.vscode/
MozillaVPN.xcodeproj/
