.DS_Store
Makefile
*.o
.obj
.moc
.rcc
*.pro.user
*.pro.user*
src/mozillavpn
src/mozillavpn.app
src/mozillavpn.framework
mozillavpn_wg
mozillavpn.qmltypes
mozillavpn_metatypes.json
mozillavpn_qmltyperegistrations.cpp
qrc_qml.cpp
.qmake.stash
*.swp
dbus_adaptor.*
dbus_interface.*
mozillavpn-daemon
*_plugin_import.cpp
translations/*.qm
.qm
