
Makefile
Makefile.*
*.o
.obj
.moc
.rcc
*.pro.user
*.pro.user*
src/mozillavpn
src/mozillavpn.app
src/mozillavpn.framework
src/version.h
mozillavpn_wg
mozillavpn.qmltypes
mozillavpn_metatypes.json
mozillavpn_qmltyperegistrations.cpp
balrog/balrog-api.a
balrog/balrog-api.h
balrog/vendor/
qrc_qml.cpp
.qmake.stash
dbus_adaptor.*
dbus_interface.*
mozillavpn-daemon
*_plugin_import.cpp
src/netfilter.[ah]
linux/netfilter/vendor/
.qm
.tmp
.env
.venv
__pycache__
lottie.mjs
qml_lint_result.txt

# Translation pipeline
addon_ts/

# Cmake Presets
# https://cmake.org/cmake/help/latest/manual/cmake-presets.7.html
CMakeUserPresets.json
# CMake build artifacts
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
lottie/lottie_autogen/
lottie/liblottie.a
nebula/nebula_autogen/
nebula/libnebula.a
src/mozillavpn_autogen/
/build-*/
/build/
dummybuild

# Node (for functional tests)
node_modules

#Github Codespaces
.venv
=/

asset_catalog_compiler.Info.plist

# Ignore files that might be added by Android Studio
# if someone opens the android/ subproject
android/.gradle/
android/.idea/
android/build
android/local.properties
android/**/*.cxx
android/.cxx/*
!android/res/debug/**/*
!android/*/**/Makefile
xcode.xconfig
.gradle/
.gradle_cache/

*.ts
tests/auth/tests
tests/auth/auth_tests
tests/auth/auth_tests_autogen/
tests/unit/tests
tests/unit/tests_autogen/
tests/nativemessaging/tests
tests/qml/qml_tests
tests/qml/qml_tests_autogen/
tests/qml/target_wrapper.sh
tests/functional/addons/generated
build
!taskcluster/ci/build
!taskcluster/scripts/build
Debug/
!android/src/debug/
!android/resources/debug/
Debug-iphone*
Release/
Release-iphone*
!android/resources/release/
macos/gobridge/wireguard-go-version.h
ios/gobridge/wireguard-go-version.h

# Taskcluster/ Taskgraph
!taskcluster/ci/build
!taskcluster/scripts/build
*.pyc

# Editors
*.swp
.idea/
vscode-cpptools/*
*.xcodeproj/
MozillaVPN.vcxproj*
*.autosave
# Visual Studio stuff.
CMakeSettings.json

# Qt Creator
CMakeLists.txt.user

#Windows
.deps
lib*.dll
balrog.dll
tunnel.dll
tunnel.h
*.wixobj
*.msm
*.dll
.vs/
*.msi
MozillaVPN.exe
MozillaVPN.exp
MozillaVPN.lib
MozillaVPN_resource.rc
mozillavpnnp.exe
mozillavpnnp.vcxproj*
windows/installer/x64/
windows/tunnel/x64/
windows/split-tunnel/*.cat
windows/split-tunnel/*.inf
windows/split-tunnel/*.sys
windows/split-tunnel/*.dll
windows/split-tunnel/.status

# Mac OS X
.DS_Store

# Rust
.cargo_home/
.rustc_info.json


# WASM
mozillavpn.js
mozillavpn.wasm
qtloader.js

# WebExtension native app
extension/app/mozillavpnnp
.npobj/*
mozillavpnnp.exe
mozillavpnnp.vcxproj*

# glean
/glean/libglean.a
/glean/glean_autogen/
/glean/telemetry/*
!/glean/telemetry/.keepme
qtglean/prebuilt/

# For users compiling QT per the README
/qt/

# Language files
l18nstrings.h
l18nstrings_p.cpp
/translations/libtranslations.a
/translations/translations_autogen/
translations/*/*.ts
translations/*/*.qm
translations/*/locversion.plist
translations/generated/
macos/pkg/Resources/*.lproj

# Addons
addons/generated/

# Adjust SDK Files
android/adjust/src/

# ipmonitor
tools/ipmonitor/ipmonitor
tools/ipmonitor/ipmonitor.exe

# inspector
tools/inspector/.cache
tools/inspector/.parcel-cache
tools/inspector/dist
tools/inspector/node_modules
tools/wasm_chrome/branch_runs.json
!tools/wasm_chrome/*.ts

*.PDB

# Bridge app
extension/bridge/target
extension/bridge/vendor
extension/bridge/.cargo_home
extension/bridge/.cargo

# Generated by Cargo
# will have compiled files and executables
debug/
target/

# These are backup files generated by rustfmt
**/*.rs.bk

# MSVC Windows builds of rustc generate these, which store debugging information
*.pdb
