[submodule "wireguard-apple"]
	path = wireguard-apple
	url = https://git.zx2c4.com/wireguard-apple
[submodule "wireguard-tools"]
	path = wireguard-tools
	url = https://git.zx2c4.com/wireguard-tools/
[submodule "i18n"]
	path = i18n
	url = https://github.com/strseb/vpnTranslations.git
[submodule "src/platforms/android/openSSL"]
	path = src/platforms/android/openSSL
	url = https://github.com/KDAB/android_openssl
[submodule "android/modules/wireguard"]
	path = android/modules/wireguard
	url = https://github.com/mozilla-mobile/guardian-vpn-android.git
	branch = roger/wg_moz_module
