/addons/strings.yaml @flodolo
/src/translations/strings.yaml @flodolo
/src/translations/extras @flodolo

# Taskcluster / Taskgraph related files. Releng will review for best practices
# and security. Most changes should additionally be reviewed by VPN team.
.cron.yml @mozilla-mobile/releng
.taskcluster.yml @mozilla-mobile/releng
taskcluster @mozilla-mobile/releng
taskcluster/scripts/addons
taskcluster/scripts/build
