:: For more information, see https://doc.qt.io/qt-5/windows-building.html

:: Modify these environment variables to match your machine configuration.
SET _MVS_ENV="C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvarsall.bat"
SET _MVS_ARCH="amd64"
SET _QT_SOURCE_ROOT="C:\MozillaVPNBuildDeps\qt-everywhere-src-5.15.2"  :: used by qt5_compile.bat
SET _MVPN_BUILD_ROOT=C:\MozillaVPNBuild  :: used by windows_compile.bat

CALL %_MVS_ENV% %_MVS_ARCH%
SET PATH=%_MVPN_BUILD_ROOT%\bin;%_QT_SOURCE_ROOT%\qtbase\bin;%_QT_SOURCE_ROOT%\gnuwin32\bin;%PATH%
