# To update, run:
#
#  pip-compile --resolver=backtracking --output-file=requirements.txt requirements.in
#  Please make sure to run this on the same version of python that us used in the CI
#  Currently: python 3.6

appdirs
attrs
click
diskcache
flask
glean_parser
Jinja2
jsonschema
MarkupSafe
autocommand==2.2.1
oathtool
pathspec
pyrsistent
PyYAML
yamllint
