# To update, run:
#
#    pip-compile --resolver=backtracking  --generate-hashes --output-file=requirements.txt requirements.in
#
appdirs
attrs
click
diskcache
flask
glean_parser
Jinja2
jsonschema
MarkupSafe
oathtool
pathspec
pyrsistent
PyYAML
yamllint
