# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---
trust-domain: mozillavpn
treeherder:
    group-names:
        'B': 'Build Tasks'
        'I': 'Docker images'
        'lint': 'Linting tasks'
        'Fetch': 'Fetching Tasks'
        'TL': 'Toolchain Tasks'
        'rpk': 'Re-Package Tasks'
        'BM': 'Beetmover Tasks'
        'T': 'Test Tasks'

task-priority:
    by-project:
        "mozilla-vpn-client": highest
        default: low

taskgraph:
    register: mozillavpn_taskgraph:register
    repositories:
        mozillavpn:
            name: "MozillaVPN"
    cached-task-prefix: mozillavpn.v2.mozillavpn
    decision-parameters: 'mozillavpn_taskgraph.parameters:get_decision_parameters'

index:
    products:
        - "openssl"
        - "qt"
# Currently unused:
#        - "mozillavpn"

workers:
    aliases:
        b-linux:
            provisioner: 'mozillavpn-{level}'
            implementation: docker-worker
            os: linux
            worker-type: b-linux-gcp
        b-linux-large:
            provisioner: 'mozillavpn-{level}'
            implementation: docker-worker
            os: linux
            worker-type: b-linux-large-gcp
        b-win2022:
            provisioner: 'mozillavpn-{level}'
            implementation: generic-worker
            os: windows
            worker-type: b-win2022
        b-macos:
            provisioner: 'releng-hardware'
            implementation: generic-worker
            os: macosx
            worker-type:
                by-level:
                    "3": 'mozillavpn-b-3-osx'
                    default: 'mozillavpn-b-1-osx'
        images:
            provisioner: 'mozillavpn-{level}'
            implementation: docker-worker
            os: linux
            worker-type: 'images-gcp'
        dep-signing:
            provisioner: scriptworker-k8s
            implementation: scriptworker-signing
            os: scriptworker
            worker-type: mozillavpn-t-signing
        signing:
            provisioner: scriptworker-k8s
            implementation: scriptworker-signing
            os: scriptworker
            worker-type:
                by-level:
                    "3": mozillavpn-3-signing
                    default: mozillavpn-t-signing
        macos-dep-signing:
            provisioner: scriptworker-prov-v1
            implementation: scriptworker-signing
            os: macosx
            worker-type: vpn-depsigning-mac-v1
        macos-signing:
            provisioner: scriptworker-prov-v1
            implementation: scriptworker-signing
            os: macosx
            worker-type:
                by-level:
                    "3": mozillavpn-3-signing-mac
                    default: vpn-depsigning-mac-v1
        push-apk:
            provisioner: scriptworker-k8s
            implementation: scriptworker-pushapk
            os: scriptworker
            worker-type: 'mozillavpn-{level}-pushapk'
        beetmover:
            provisioner: scriptworker-k8s
            implementation: scriptworker-beetmover
            os: scriptworker
            worker-type: 'mozillavpn-{level}-beetmover'
        beetmover-apt:
            provisioner: scriptworker-k8s
            implementation: beetmover-import-from-gcs-to-artifact-registry
            os: scriptworker
            worker-type: 'mozillavpn-{level}-beetmover'
        succeed:
            provisioner: built-in
            implementation: succeed
            os: none
            worker-type: succeed

release-promotion:
    flavors:
        promote-addons:
            target-tasks-method: addons-target-tasks
        ship-addons:
            target-tasks-method: addons-target-tasks
        promote-client:
            target-tasks-method: client-target-tasks
        ship-client:
            target-tasks-method: client-target-tasks
    rebuild-kinds:
        - docker-image
        - fetch
        - toolchain
        - toolchain-openssl
