# For instructions on managing dependencies, see:
# https://taskcluster-taskgraph.readthedocs.io/en/latest/howto/bootstrap-taskgraph.html

taskcluster-taskgraph@git+https://github.com/taskcluster/taskgraph@refs/pull/44/head
