---
trust-domain: mozillavpn
treeherder:
    group-names:
        'I': 'Docker images'
        'lint': 'Linting tasks'
        'Fetch': 'Fetching Tasks'
        'TL': 'Toolchain Tasks'

task-priority:
    by-project:
        "mozilla-vpn-client": highest
        default: low

taskgraph:
    register: mozillavpn_taskgraph:register
    repositories:
        mozillavpn:
            name: "MozillaVPN"
    cached-task-prefix: mozillavpn.v2.mozillavpn
    decision-parameters: 'mozillavpn_taskgraph.parameters:get_decision_parameters'

workers:
    aliases:
        b-linux:
            provisioner: 'mozillavpn-{level}'
            implementation: docker-worker
            os: linux
            worker-type: b-linux
        b-win2012:
            provisioner: 'mozillavpn-{level}'
            implementation: generic-worker
            os: windows
            worker-type: b-win2012
        b-osx:
            provisioner: 'releng-hardware'
            implementation: generic-worker
            os: macosx
            worker-type:
                by-level:
                    "3": 'mozillavpn-b-3-osx'
                    default: 'mozillavpn-b-1-osx'
        images:
            provisioner: 'mozillavpn-{level}'
            implementation: docker-worker
            os: linux
            worker-type: 'images'
