[Desktop Entry]
Name=MozillaVPN
Version=1.0
Exec=/usr/bin/mozillavpn ui -m -s
Comment=A fast, secure and easy to use VPN. Built by the makers of Firefox.
Type=Application
Icon=mozillavpn
OnlyShowIn=GNOME;Unity;MATE;
X-GNOME-AutoRestart=false
X-GNOME-Autostart-Notify=true
