name: Auth Tests
on:
  # Only run on push to main or release branches.
  push:
    branches:
      - main
      - "releases/**"

# Restrict tests to the most recent commit.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  linux-unit-tests:
    runs-on: ubuntu-22.04
    name: Run auth tests on Linux
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - name: Install dependences
        run: |
          sudo apt-get update
          sudo apt-get install -y $(./scripts/linux/getdeps.py -a linux/debian/control)
          pip3 install -r requirements.txt

      - name: Building tests
        shell: bash
        run: |
          mkdir -p build
          cmake -S . -B $(pwd)/build -GNinja
          cmake --build $(pwd)/build --target app_auth_tests

      - name: Running tests
        shell: bash
        working-directory: ./build/tests/auth_tests
        run: |
          ctest --output-on-failure

  macos-unit-tests:
    runs-on: macos-latest
    defaults:
      run:
        shell: bash -el {0}
    name: Run auth tests on MacOS

    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - uses: conda-incubator/setup-miniconda@v3
        with:
          miniconda-version: "latest"
          environment-file: env.yml
          activate-environment: vpn

      - name: Install build dependencies
        run: |
          ./scripts/macos/conda_install_extras.sh
          export SDKROOT=$(xcrun --sdk macosx --show-sdk-path)
          brew install ninja

      - name: Install Qt6
        run: |
          wget https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/ffVNctUPQ42PXwgpt6dzRg/runs/0/artifacts/public%2Fbuild%2Fqt6_mac.zip -O qt6_mac.zip
          unzip -a -d ${{ github.workspace }} qt6_mac.zip

      - name: Compile test client
        run: |
          mkdir -p build/cmake
          cmake -S $(pwd) -B build/cmake -GNinja \
            -DCMAKE_PREFIX_PATH=${{ github.workspace }}/qt_dist/lib/cmake
          cmake --build build/cmake --target app_auth_tests

      - name: Running tests
        working-directory: ./build/cmake/tests/auth_tests
        run: |
          ctest --output-on-failure

  windows-unit-tests:
    name: Run auth tests on Windows
    runs-on: windows-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - name: Install Qt
        shell: pwsh
        run: |
          Invoke-WebRequest -Uri https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/N7sHtHzPQ3S17d9FxwDcFg/runs/0/artifacts/public%2Fbuild%2Fqt6_win.zip -OutFile win.zip
          Expand-Archive win.zip
          mv win\QT_OUT "C:\\MozillaVPNBuild"

      - name: Add msvc dev commands to PATH
        uses: ilammy/msvc-dev-cmd@v1

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v2

      - name: Install dependencies
        shell: bash
        run: |
          pip3 install -r requirements.txt

      - name: Building tests
        run: |
          mkdir ./build
          cmake -S . -B ./build -GNinja -DCMAKE_BUILD_TYPE=Debug -DCMAKE_PREFIX_PATH="C:\MozillaVPNBuild\lib\cmake"
          cmake --build ./build --target app_auth_tests

      - name: Running tests
        shell: bash
        working-directory: ./build/tests/auth_tests
        run: |
          ctest --output-on-failure
