# A reusable workflow to build addons
on:
  workflow_call:
    inputs:
      test-addons-name:
        required: true
        type: string

jobs:
  build-test-addons:
    name: Build Test Addons
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          persist-credentials: false

      - name: Setup addons cache
        id: addons-cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: build-addons/
          key: test-addons-${{ hashFiles('addons/**', 'test/functional/addons/**', 'scripts/addon/*.py', 'scripts/cmake/addons.cmake') }}

      - name: Install build dependencies
        if: steps.addons-cache.outputs.cache-hit != 'true'
        shell: bash
        run: |
          git submodule init
          git submodule update 3rdparty/i18n
          sudo apt-get update
          sudo apt-get install -y $(./scripts/linux/getdeps.py -b linux/debian/control)

      - name: Build test addons
        if: steps.addons-cache.outputs.cache-hit != 'true'
        shell: bash
        run: |
          mkdir -p build-addons/
          cmake -S $(pwd)/tests/functional/addons -B build-addons/
          cmake --build build-addons/

      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: ${{ inputs.test-addons-name }}
          path: build-addons/
