name: Linters (clang, l10n, colors)
on:
  # Triggers the workflow on pull request events but only for the main branch
  pull_request:
    branches:
      - main
      - "releases/**"
    types:
      - opened
      - synchronize
      - reopened

jobs:
  linter:
    name: Run Main Linters (clang, l10n, colors, etc.)
    runs-on: ubuntu-22.04
    steps:
      - name: Clone repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          submodules: "true"
          persist-credentials: false

      - name: Install dependecies
        run: |
          sudo apt-get update
          sudo apt-get install -y aspell aspell-en $(./scripts/linux/getdeps.py -b linux/debian/control)

      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
        with:
          python-version: "3.10"
          cache: "pip"
      - run: pip install -r requirements.txt

      - name: Generate updated .ts files and check for l10n errors
        run: |
          ./scripts/utils/generate_ts.sh -a
          python .github/l10n/check_l10n_issues.py

      - name: Check for QRC errors
        run: |
          python scripts/ci/check_qrc.py

      - name: Check for addons JSON syntax
        run: |
          python scripts/ci/check_jsonschema.py addon.json addons/*/manifest.json

      - name: Check for issues with clang-format
        uses: DoozyX/clang-format-lint-action@c71d0bf4e21876ebec3e5647491186f8797fde31 # v0.16.2
        with:
          source: "."
          clangFormatVersion: 16
          style: file

      - name: Check for issues with cargo fmt
        run: |
          for tomlfile in $(git ls-files -c '*/Cargo.toml'); do
            (cd $(dirname $tomlfile) && cargo fmt --check) || true
          done

      - name: Spell check documentation files
        run: |
          scripts/utils/spellcheck.sh list

      - name: Check for missing language names in extras.xliff
        run: |
          scripts/ci/check_lang_names.py

      - name: Check for proper color usage
        run: |
          scripts/ci/check_colors.py nebula/ui/themes/color-themes

      - name: Check for proper image usage
        run: |
          scripts/ci/check_images.py

  ktlint:
    name: Run ktLint
    runs-on: ubuntu-latest
    defaults:
      run:
        # This allows us to use conda
        shell: bash -el {0}
    steps:
      - name: Clone repo
        uses: actions/checkout@61b9e3751b92087fd0b06925ba6dd6314e06f089 # master
        with:
          fetch-depth: 1
          persist-credentials: false

      - name: Cache conda packages
        id: conda-cache
        uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: ~/conda_pkgs_dir
          key: android-conda-packages-${{ hashFiles('env-android.yml', 'requirements.txt') }}

      # Glean is required for the gradle build.
      - name: Fetch glean submodules
        run: |
          git submodule update --init 3rdparty/glean

      - uses: conda-incubator/setup-miniconda@fc2d68f6413eb2d87b895e92f8584b5b94a10167 # v3
        with:
          activate-environment: vpn
          environment-file: env-android.yml

      - name: Setup Android SDK
        run: |
          conda info
          ./scripts/android/conda_setup_sdk.sh

      - name: Save conda package cache
        uses: actions/cache/save@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        if: ${{ github.event_name == 'push' && steps.conda-cache.outputs.cache-hit != 'true' }}
        with:
          path: ~/conda_pkgs_dir
          key: android-conda-packages-${{ hashFiles('env-android.yml', 'requirements.txt') }}

      - name: Run ktlint
        working-directory: android
        run: |
          conda info
          REPOSITORY_ROOT=$(pwd)/.. ./gradlew ktlint
