name: Linters (clang, l10n)
on:
  # Triggers the workflow on pull request events but only for the main branch
  pull_request:
    branches:
      - main
      - 'releases/**'
    types:
      - opened
      - synchronize
      - reopened

jobs:
  linter:
    name: Run Main Linters (clang, l10n, etc.)
    runs-on: ubuntu-20.04
    env:
      QTVERSION: 6.4.2
    steps:
      - name: Install Linux packages
        run: |
          sudo apt update
          sudo apt install git libgl-dev libegl-dev libpolkit-gobject-1-dev clang-10 liboath-dev python3 aspell aspell-en -y
          python3 -m pip install aqtinstall
          aqt install-qt --outputdir /opt linux desktop $QTVERSION gcc_64 -m all

      - name: Clone repository
        uses: actions/checkout@v3
        with:
          submodules: 'true'

      - name: Set up Python 3
        uses: actions/setup-python@v3
        with:
          python-version: '3.8'

      - name: Install Python dependencies
        run: |
          pip3 install -r requirements.txt

      - name: Generating glean samples
        shell: bash
        run: |
          python3 scripts/utils/generate_glean.py

      - name: Importing translation files
        shell: bash
        run: |
          export PATH=/opt/$QTVERSION/gcc_64/bin:$PATH
          python3 scripts/utils/import_languages.py

      - name: Generate updated .ts files and check for l10n errors
        run: |
          export PATH=/opt/$QTVERSION/gcc_64/bin:$PATH
          ./scripts/utils/generate_ts.sh
          python .github/l10n/check_l10n_issues.py

      - name: Check for QRC errors
        run: |
          export PATH=/opt/$QTVERSION/gcc_64/bin:$PATH
          python scripts/ci/check_qrc.py

      - name: Check for addons JSON syntax
        run: |
          python scripts/ci/check_jsonschema.py addon.json addons/*/manifest.json

      - name: Check for issues with clang-format
        uses: DoozyX/clang-format-lint-action@v0.15
        with:
          source: '.'
          clangFormatVersion: 11
          style: file

      - name: Spell check documentation files
        run: |
          scripts/utils/spellcheck.sh list
  ktlint:
    name: Run ktLint
    runs-on: ubuntu-latest

    steps:
      - name: Clone repo
        uses: actions/checkout@master
        with:
          fetch-depth: 1
      - name: ktlint
        uses: ScaCap/action-ktlint@master
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review # Change reporter
          android: true
