name: Linux Packages
on:
  push:
    branches:
      - main
      - 'releases/**'
  pull_request:
    branches:
      - main
      - 'releases/**'

jobs:
  source-bundle:
    name: Source Bundle
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Generate build revesion
        shell: bash
        env:
          GITREF: ${{github.ref}}
        run: |
          if [[ "$GITREF" == "refs/heads/main" ]]; then
            echo "REVISION=~github${{github.run_number}}" >> $GITHUB_ENV
          elif [[ "$GITREF" =~ ^refs/pull/([0-9]+)/merge ]]; then
            echo "REVISION=~pr${BASH_REMATCH[1]}" >> $GITHUB_ENV
          elif [[ "$GITREF" =~ ^refs/heads/releases/ ]]; then
            git fetch --unshallow
            echo "REVISION=$(git rev-list --count --first-parent origin/main..HEAD)" >> $GITHUB_ENV

            FORCE_VERSION=$(echo "$GITREF" | cut -d'/' -f4)
            sed -i "s/:VERSION*/:VERSION = $FORCE_VERSION/" version.pri
          else
            echo "REVISION=~unknown" >> $GITHUB_ENV
          fi

      - name: Install source dependencies
        shell: bash
        run: |
          sudo apt-get install qt5-default qttools5-dev-tools golang debhelper -y
          pip3 install "glean_parser==3.5"
          pip3 install pyhumps
          pip3 install pyyaml
      
      - name: Build source bundle
        shell: bash
        run: ./scripts/linux_script.sh --source --version $REVISION
      
      - name: Uploading
        uses: actions/upload-artifact@v2
        with:
            name: Sources
            path: .tmp

  focal-staging:
    name: Focal Staging
    runs-on: ubuntu-20.04
    steps:
      - name: Install Linux packages
        run: |
          # Add external PPA, latest version of QT is 5.12.x for Ubuntu 20.04
          sudo add-apt-repository ppa:beineri/opt-qt-5.15.2-focal -y
          sudo apt update
          sudo apt install git golang qt515tools qt515svg qt515networkauth-no-lgpl qt515charts-no-lgpl libgl-dev \
                           libpolkit-gobject-1-dev devscripts debhelper cdbs quilt qt515graphicaleffects \
                           qt515imageformats qt515quickcontrols2 libxcb-image0-dev libxcb-shape0-dev libxcb-sync0-dev \
                           libxcb-render-util0-dev libxcb-xfixes0-dev libxcb-icccm4-dev libx11-xcb-dev \
                           libxcb-keysyms1-dev libasound2-dev libaudio-dev libcups2-dev libdbus-1-dev libglu1-mesa-dev \
                           libmng-dev libtiff5-dev libxcursor-dev libxi-dev libxinerama-dev libxmu-dev libxrandr-dev \
                           libxv-dev libedit-dev libvulkan-dev qt515websockets -y

      - name: Clone repository
        uses: actions/checkout@v2

      - name: Install glean depedencies
        shell: bash
        run: |
          pip3 install "glean_parser==3.5"
          pip3 install pyhumps
          pip3 install pyyaml

      - name: Create package structure
        shell: bash
        run: |
          export PATH=/opt/qt515/bin:$PATH
          ./scripts/linux_script.sh -s -r focal
          mkdir packages
          cp .tmp/*.deb packages

      - name: Uploading
        uses: actions/upload-artifact@v1
        with:
            name: Staging Build (focal)
            path: packages

  focal-production:
    name: Focal Production
    runs-on: ubuntu-20.04
    steps:
      - name: Install Linux packages
        run: |
          # Add external PPA, latest version of QT is 5.12.x for Ubuntu 20.04
          sudo add-apt-repository ppa:beineri/opt-qt-5.15.2-focal -y
          sudo apt update
          sudo apt install git golang qt515tools qt515svg qt515networkauth-no-lgpl qt515charts-no-lgpl libgl-dev \
                           libpolkit-gobject-1-dev devscripts debhelper cdbs quilt qt515graphicaleffects \
                           qt515imageformats qt515quickcontrols2 libxcb-image0-dev libxcb-shape0-dev libxcb-sync0-dev \
                           libxcb-render-util0-dev libxcb-xfixes0-dev libxcb-icccm4-dev libx11-xcb-dev \
                           libxcb-keysyms1-dev libasound2-dev libaudio-dev libcups2-dev libdbus-1-dev \
                           libglu1-mesa-dev libmng-dev libtiff5-dev libxcursor-dev libxi-dev libxinerama-dev \
                           libxmu-dev libxrandr-dev libxv-dev libedit-dev libvulkan-dev qt515websockets -y

      - name: Clone repository
        uses: actions/checkout@v2

      - name: Install glean depedencies
        shell: bash
        run: |
          pip3 install "glean_parser==3.5"
          pip3 install pyhumps
          pip3 install pyyaml

      - name: Create package structure
        shell: bash
        run: |
          export PATH=/opt/qt515/bin:$PATH
          ./scripts/linux_script.sh -r focal
          mkdir packages
          cp .tmp/*.deb packages

      - name: Uploading
        uses: actions/upload-artifact@v1
        with:
            name: Production Build (focal)
            path: packages

  bionic-staging:
    name: Bionic Staging
    runs-on: ubuntu-18.04
    steps:
      - name: Install Linux packages
        run: |
          # Add external PPA, latest version of QT is 5.12.x for Ubuntu 18.04
          sudo add-apt-repository ppa:beineri/opt-qt-5.15.2-bionic -y
          sudo apt update
          sudo apt install git golang-1.13 qt515tools qt515svg qt515networkauth-no-lgpl qt515charts-no-lgpl \
                           libgl-dev libpolkit-gobject-1-dev devscripts debhelper cdbs quilt qt515graphicaleffects \
                           qt515imageformats qt515quickcontrols2 libxcb-image0-dev libxcb-shape0-dev libxcb-sync0-dev \
                           libxcb-render-util0-dev libxcb-xfixes0-dev libxcb-icccm4-dev libx11-xcb-dev \
                           libxcb-keysyms1-dev libasound2-dev libaudio-dev libcups2-dev libdbus-1-dev \
                           libglu1-mesa-dev  libmng-dev libtiff5-dev libxcursor-dev libxi-dev libxinerama-dev \
                           libxmu-dev libxrandr-dev libxv-dev libedit-dev libvulkan-dev qt515websockets \
                           python3-setuptools -y

      - name: Clone repository
        uses: actions/checkout@v2

      - name: Install glean depedencies
        shell: bash
        run: |
          pip3 install "glean_parser==3.5"
          pip3 install pyhumps
          pip3 install pyyaml

      - name: Create package structure
        shell: bash
        run: |
          export PATH=/opt/qt515/bin:$PATH
          ./scripts/linux_script.sh -s -r bionic
          mkdir packages
          cp .tmp/*.deb packages

      - name: Uploading
        uses: actions/upload-artifact@v1
        with:
            name: Staging Build (bionic)
            path: packages

  bionic-production:
    name: Bionic Production
    runs-on: ubuntu-18.04
    steps:
      - name: Install Linux packages
        run: |
          # Add external PPA, latest version of QT is 5.12.x for Ubuntu 18.04
          sudo add-apt-repository ppa:beineri/opt-qt-5.15.2-bionic -y
          sudo apt update
          sudo apt install git golang-1.13 qt515tools qt515svg qt515networkauth-no-lgpl qt515charts-no-lgpl libgl-dev \
                           libpolkit-gobject-1-dev devscripts debhelper cdbs quilt qt515graphicaleffects \
                           qt515imageformats qt515quickcontrols2 libxcb-image0-dev libxcb-shape0-dev libxcb-sync0-dev \
                           libxcb-render-util0-dev libxcb-xfixes0-dev libxcb-icccm4-dev libx11-xcb-dev \
                           libxcb-keysyms1-dev libasound2-dev libaudio-dev libcups2-dev libdbus-1-dev libglu1-mesa-dev \
                           libmng-dev libtiff5-dev libxcursor-dev libxi-dev libxinerama-dev libxmu-dev libxrandr-dev \
                           libxv-dev libedit-dev libvulkan-dev qt515websockets python3-setuptools -y

      - name: Clone repository
        uses: actions/checkout@v2

      - name: Install glean depedencies
        shell: bash
        run: |
          pip3 install "glean_parser==3.5"
          pip3 install pyhumps
          pip3 install pyyaml

      - name: Create package structure
        shell: bash
        run: |
          export PATH=/opt/qt515/bin:$PATH
          ./scripts/linux_script.sh -r bionic
          mkdir packages
          cp .tmp/*.deb packages

      - name: Uploading
        uses: actions/upload-artifact@v1
        with:
            name: Production Build (bionic)
            path: packages

  ubuntu-hirsute:
    name: Ubuntu packages
    needs: source-bundle
    strategy:
      matrix:
        config:
            - { name: "Hirsute Staging", dist: hirsute, buildtype: "stage" }
            - { name: "Hirsute Production", dist: hirsute, buildtype: "prod" }

    runs-on: ubuntu-latest
    env:
      BASETGZ: /var/cache/pbuilder/ubuntu-buildd-${{ matrix.config.dist }}.tgz
    steps:
      - name: Download Source Package
        uses: actions/download-artifact@v2
        with:
            name: Sources
      
      - name: Create base ${{ matrix.config.dist }} image
        run: |
          sudo apt-get install pbuilder debootstrap debhelper devscripts -y
          sudo pbuilder create --distribution ${{ matrix.config.dist }} --basetgz $BASETGZ --debootstrapopts --variant=buildd

      - name: Building package
        shell: bash
        run: |
          cd ${{matrix.config.dist}}-${{matrix.config.buildtype}}
          ln -s ../mozillavpn_*.orig.tar.gz
          sudo pbuilder build --basetgz $BASETGZ --buildresult $(pwd) mozillavpn_*.dsc

      - name: Uploading
        uses: actions/upload-artifact@v1
        with:
            name: ${{matrix.config.name}} Build
            path: ${{matrix.config.dist}}-${{matrix.config.buildtype}}

  rpmbuild:
    name: RPM Packages
    needs: source-bundle
    runs-on: ubuntu-latest
    container:
      image: fedora:33

    steps:
      - name: Download Source Package
        uses: actions/download-artifact@v2
        with:
            name: Sources

      - name: Install Build Dependencies
        run: |
          yum -y install rpm-build rpmdevtools yum-utils
          yum-builddep -y mozillavpn.spec

      - name: Building package
        shell: bash 
        run: rpmbuild -D "_topdir $(pwd)" -D "_sourcedir $(pwd)" -ba mozillavpn.spec

      - name: Uploading
        uses: actions/upload-artifact@v2
        with:
            name: RPM Build
            path: |
              RPMS/
              SRPMS/
