name: Linux Packages
on:
  push:
    branches:
      - main
      - "releases/**"
  pull_request:
    branches:
      - main
      - "releases/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  source-bundle:
    name: Source Bundle
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          cache: 'pip'
      - run: pip install -r requirements.txt

      - name: Install source dependencies
        shell: bash
        run: |
          sudo apt-get install golang debhelper -y

      - name: Build source bundle
        shell: bash
        env:
          GITREF: ${{github.ref}}
        run: ./scripts/linux/script.sh --source --gitref ${GITREF}

      - name: Upload source bundle
        uses: actions/upload-artifact@v3
        with:
          name: Sources
          path: .tmp

  rpmbuild:
    name: RPM Packages
    needs: source-bundle
    runs-on: ubuntu-latest
    container:
      image: fedora:39

    steps:
      - name: Download Source Package
        uses: actions/download-artifact@v3
        with:
          name: Sources

      - name: Install Build Dependencies
        run: |
          dnf -y install rpmdevtools 'dnf-command(builddep)'
          dnf -y builddep mozillavpn.spec

      - name: Building package
        shell: bash
        run: rpmbuild -D "_topdir $(pwd)" -D "_sourcedir $(pwd)" -ba mozillavpn.spec

      - name: Uploading
        uses: actions/upload-artifact@v3
        with:
          name: RPM Build
          path: |
            RPMS/
            SRPMS/
