name: Linux Packages
on:
  push:
    branches:
      - main
      - "releases/**"
  pull_request:
    branches:
      - main
      - "releases/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  supported-fedora-releases:
    name: Fetch currently supported Fedora releases
    runs-on: ubuntu-22.04
    outputs:
      supported-releases: ${{ steps.fetch-supported-releases.outputs.releases }}
    steps:
      - id: fetch-supported-releases
        name: Fetch currently supported Fedora releases
        run: |
          API_RESPONSE=$(curl -s https://endoflife.date/api/v1/products/fedora)
          SUPPORTED_RELEASES=$(echo $API_RESPONSE | jq -c '[ .result.releases[] | select(.isEol == false) | { "fedora-version": .name } ]')
          echo "releases=$SUPPORTED_RELEASES" >> $GITHUB_OUTPUT

  source-bundle:
    name: Source Bundle
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          cache: "pip"
      - run: pip install -r requirements.txt

      - name: Install source dependencies
        shell: bash
        run: |
          sudo apt-get update
          sudo apt-get install golang debhelper -y

      - name: Build source bundle
        shell: bash
        run: ./scripts/linux/script.sh --source --gitref ${{github.ref}}

      - name: Upload source bundle
        uses: actions/upload-artifact@v4
        with:
          name: Sources
          path: .tmp
          include-hidden-files: true

  rpmbuild:
    name: RPM Packages (Fedora ${{ matrix.fedora-version }})
    needs:
      - source-bundle
      - supported-fedora-releases
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJSON(needs.supported-fedora-releases.outputs.supported-releases) }}
    container:
      image: fedora:${{ matrix.fedora-version }}

    steps:
      - name: Download Source Package
        uses: actions/download-artifact@v4
        with:
          name: Sources

      - name: Install Build Dependencies
        run: |
          dnf -y update
          dnf -y install gdb rpmdevtools 'dnf-command(builddep)'
          dnf -y builddep mozillavpn.spec

      - name: Building package
        shell: bash
        run: rpmbuild -D "_topdir $(pwd)" -D "_sourcedir $(pwd)" -ba mozillavpn.spec

      - name: Uploading
        uses: actions/upload-artifact@v4
        with:
          name: RPM Build (Fedora ${{ matrix.fedora-version }})
          path: |
            RPMS/
            SRPMS/
