name: Linux package (hirsute)
on:
  push:
    branches:
      - main
      - 'releases/**'
  pull_request:
    branches:
      - main
      - 'releases/**'

jobs:
  ubuntu-hirsute:
    name: Ubuntu packages
    strategy:
      matrix:
        config:
            - { name: "Hirsute Staging", dist: hirsute, buildargs: "-s" }
            - { name: "Hirsute Production", dist: hirsute, buildargs: "" }

    runs-on: ubuntu-latest
    steps:
      - name: Create base ${{ matrix.config.dist }} image
        run: |
          sudo apt-get install pbuilder debootstrap devscripts -y
          sudo pbuilder create --distribution ${{ matrix.config.dist }} --basetgz /opt/pbuilder/ubuntu-buildd-${{ matrix.config.dist }}.tgz --debootstrapopts --variant=buildd

      - name: Clone repository
        uses: actions/checkout@v2

      - name: Install glean depedencies
        shell: bash
        run: |
          pip3 install "glean_parser==3.5"
          pip3 install pyhumps
          pip3 install pyyaml

      - name: Create package structure
        shell: bash
        run: |
          sudo apt-get install golang -y
          ./scripts/linux_script.sh ${{ matrix.config.buildargs}} -r ${{ matrix.config.dist }} --source
      
      - name: Building package
        shell: bash
        run: |
          mkdir -p packages/${{ matrix.config.dist }}
          cp .tmp/mozillavpn_*.dsc packages/${{ matrix.config.dist }}
          sudo pbuilder build --basetgz /opt/pbuilder/ubuntu-buildd-${{ matrix.config.dist }}.tgz --buildresult packages/${{ matrix.config.dist }} .tmp/mozillavpn_*.dsc

      - name: Uploading
        uses: actions/upload-artifact@v1
        with:
            name: ${{ matrix.config.name }} Build
            path: packages
