name: Linux Packages
on:
  push:
    branches:
      - main
      - 'releases/**'
  pull_request:
    branches:
      - main
      - 'releases/**'

jobs:
  source-bundle:
    name: Source Bundle
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
      
      - name: Install source dependencies
        shell: bash
        run: |
          sudo apt-get install golang debhelper -y
          pip3 install "glean_parser==3.5"
          pip3 install pyhumps
          pip3 install pyyaml

      - name: Build source bundle
        shell: bash
        run: ./scripts/linux_script.sh --source

      - name: Uploading
        uses: actions/upload-artifact@v2
        with:
            name: Sources
            path: .tmp

  focal-staging:
    name: Focal Staging
    needs: source-bundle
    runs-on: ubuntu-20.04
    steps:
      - name: Download Source Package
        uses: actions/download-artifact@v2
        with:
            name: Sources

      - name: Install Dependencies
        run: |
          # Add external PPA, latest version of QT is 5.12.x for Ubuntu 20.04
          sudo add-apt-repository ppa:beineri/opt-qt-5.15.2-focal -y
          sudo apt-get install debhelper devscripts equivs -y
          pip3 install pyhumps
          pip3 install pyyaml

          for file in $(find focal-stage -type f); do ln -s $file; done
          dpkg-source -x mozillavpn_*.dsc
          sudo mk-build-deps -ir mozillavpn-*/debian/control

      - name: Create package structure
        shell: bash
        run: |
          (cd mozillavpn-* && dpkg-buildpackage --build=binary --no-sign)
          mkdir packages
          cp *.deb packages

      - name: Uploading
        uses: actions/upload-artifact@v1
        with:
            name: Staging Build (focal)
            path: packages

  focal-production:
    name: Focal Production
    needs: source-bundle
    runs-on: ubuntu-20.04
    steps:
      - name: Download Source Package
        uses: actions/download-artifact@v2
        with:
            name: Sources

      - name: Install Dependencies
        run: |
          # Add external PPA, latest version of QT is 5.12.x for Ubuntu 20.04
          sudo add-apt-repository ppa:beineri/opt-qt-5.15.2-focal -y
          sudo apt-get install debhelper devscripts equivs -y
          pip3 install pyhumps
          pip3 install pyyaml

          for file in $(find focal-prod -type f); do ln -s $file; done
          dpkg-source -x mozillavpn_*.dsc
          sudo mk-build-deps -ir mozillavpn-*/debian/control

      - name: Create package structure
        shell: bash
        run: |
          (cd mozillavpn-* && dpkg-buildpackage --build=binary --no-sign)
          mkdir packages
          cp *.deb packages

      - name: Uploading
        uses: actions/upload-artifact@v1
        with:
            name: Production Build (focal)
            path: packages

  bionic-staging:
    name: Bionic Staging
    needs: source-bundle
    runs-on: ubuntu-18.04
    steps:
      - name: Download Source Package
        uses: actions/download-artifact@v2
        with:
            name: Sources

      - name: Install Dependencies
        run: |
          # Add external PPA, latest version of QT is 5.12.x for Ubuntu 18.04
          sudo add-apt-repository ppa:beineri/opt-qt-5.15.2-bionic -y
          sudo apt-get install debhelper devscripts equivs -y
          pip3 install pyhumps
          pip3 install pyyaml

          for file in $(find bionic-stage -type f); do ln -s $file; done
          dpkg-source -x mozillavpn_*.dsc
          sudo mk-build-deps -ir mozillavpn-*/debian/control

      - name: Create package structure
        shell: bash
        run: |
          (cd mozillavpn-* && dpkg-buildpackage --build=binary --no-sign)
          mkdir packages
          cp *.deb packages

      - name: Uploading
        uses: actions/upload-artifact@v1
        with:
            name: Staging Build (bionic)
            path: packages

  bionic-production:
    name: Bionic Production
    needs: source-bundle
    runs-on: ubuntu-18.04
    steps:
      - name: Download Source Package
        uses: actions/download-artifact@v2
        with:
            name: Sources

      - name: Install Dependencies
        run: |
          # Add external PPA, latest version of QT is 5.12.x for Ubuntu 18.04
          sudo add-apt-repository ppa:beineri/opt-qt-5.15.2-bionic -y
          sudo apt-get install debhelper devscripts equivs -y
          pip3 install pyhumps
          pip3 install pyyaml

          for file in $(find bionic-prod -type f); do ln -s $file; done
          dpkg-source -x mozillavpn_*.dsc
          sudo mk-build-deps -ir mozillavpn-*/debian/control

      - name: Create package structure
        shell: bash
        run: |
          (cd mozillavpn-* && dpkg-buildpackage --build=binary --no-sign)
          mkdir packages
          cp *.deb packages

      - name: Uploading
        uses: actions/upload-artifact@v1
        with:
            name: Production Build (bionic)
            path: packages

  ubuntu-hirsute:
    name: Ubuntu packages
    needs: source-bundle
    strategy:
      matrix:
        config:
            - { name: "Hirsute Staging", dist: hirsute, buildtype: "stage" }
            - { name: "Hirsute Production", dist: hirsute, buildtype: "prod" }

    runs-on: ubuntu-latest
    env:
      BASETGZ: /var/cache/pbuilder/ubuntu-buildd-${{ matrix.config.dist }}.tgz
    steps:
      - name: Download Source Package
        uses: actions/download-artifact@v2
        with:
            name: Sources
      
      - name: Create base ${{ matrix.config.dist }} image
        run: |
          pip3 install pyyaml
          sudo apt-get install pbuilder debootstrap debhelper devscripts -y
          sudo pbuilder create --distribution ${{ matrix.config.dist }} --basetgz $BASETGZ --debootstrapopts --variant=buildd

      - name: Building package
        shell: bash
        run: |
          cd ${{matrix.config.dist}}-${{matrix.config.buildtype}}
          ln -s ../mozillavpn_*.orig.tar.gz
          sudo pbuilder build --basetgz $BASETGZ --buildresult $(pwd) mozillavpn_*.dsc

      - name: Uploading
        uses: actions/upload-artifact@v1
        with:
            name: ${{matrix.config.name}} Build
            path: ${{matrix.config.dist}}-${{matrix.config.buildtype}}

  rpmbuild:
    name: RPM Packages
    needs: source-bundle
    runs-on: ubuntu-latest
    container:
      image: fedora:33

    steps:
      - name: Download Source Package
        uses: actions/download-artifact@v2
        with:
            name: Sources

      - name: Install Build Dependencies
        run: |
          pip3 install pyyaml
          yum -y install rpm-build rpmdevtools yum-utils
          yum-builddep -y mozillavpn.spec

      - name: Building package
        shell: bash 
        run: rpmbuild -D "_topdir $(pwd)" -D "_sourcedir $(pwd)" -ba mozillavpn.spec

      - name: Uploading
        uses: actions/upload-artifact@v2
        with:
            name: RPM Build
            path: |
              RPMS/
              SRPMS/
