name: Release Candidate Automation
on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+-rc[0-9]+"

jobs:
  flathub-beta:
    name: Trigger Flathub Beta Checker 
    runs-on: ubuntu-latest
    environment:
      name: flathub
    steps:
      - name: Triger flathub updates
        id: curl
        env:
          FLATHUB_TOKEN: ${{ secrets.FLATHUB_TOKEN }}
          FLATHUB_API_URL: https://api.github.com/repos/flathub/org.mozilla.vpn/actions/workflows/update-check.yml/dispatches
        run: |
          response=$( \
          curl -sSL -X POST -d '{"ref":"beta"}' \
             -H "Accept: application/vnd.github+json" \
             -H "Authorization: Bearer ${FLATHUB_TOKEN}" \
             -H "X-GitHub-Api-Version: 2022-11-28" \
             ${FLATHUB_API_URL}); \
          echo "response=$response" >> $GITHUB_OUTPUT

      - name: Response
        run: echo ${CURL_RESPONSE}
        env:
          CURL_RESPONSE: ${{ steps.curl.outputs.response }}

    outputs:
      curl_response: ${{ steps.code.outputs.response }}

  failure-check:
    needs: flathub-beta
    if: needs.flathub-beta.outputs.curl_response != 200
    runs-on: ubuntu-latest
    steps:
      - name: fail_job
        uses: actions/github-script@ffc2c79a5b2490bd33e0a41c1de74b877714d736 # v3
        with:
          script: |
              core.setFailed('Curl failed')
