name: Upload Github Release Artifacts
on:
  release:
    types:
      - created
  # This is just for testing - remove this before merge.
  pull_request:
    branches:
      - main

jobs:
  gh-upload-artifacts:
    name: Upload artifacts
    runs-on: ubuntu-latest
    env:
      #DECISION_TASK_REF: ${{ github.sha }}
      DECISION_TASK_REF: ${{ github.event.pull_request.base.sha }}
    strategy:
      matrix:
        name:
          - build-linux64/release-deb
          - repackage-signing-msi-x86_64
          - repackage-signing-msi-aarch64
          - mac-notarization-macos/opt

    steps:
      - name: Resolve task
        shell: bash
        id: resolve
        env:
          DECISION_TASK_INDEX: mozillavpn.v2.mozilla-vpn-client.revision.${{ env.DECISION_TASK_REF }}.taskgraph.decision
        run: |
          curl -sSL "https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/${DECISION_TASK_INDEX}" -o decision-task.json
          DECISION_TASK_ID=$(jq -r '.taskId' decision-task.json)
          curl -sSL "https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task-group/${DECISION_TASK_ID}/list" -o task-group.json
          echo taskid=$(jq -r '.tasks[] | select(.task.metadata.name == "${{ matrix.name }}") | .status.taskId') >> $GITHUB_OUTPUT

      - name: Upload artifacts
        shell: bash
        run: |
          curl -sSL "https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/${{ steps.resolve.outputs.taskid }}/artifacts" -o artifacts.json
          for ARTIFACT_PATH in $(jq -r '.artifacts[] | .name' artifacts.json); do
            ARTIFACT_TYPE=$(jq -r ".artifacts[] | select(.name == \"${ARTIFACT_PATH}\")" artifacts.json)
            ARTIFACT_NAME=$(basename ${ARTIFACT_PATH})
            curl -v -sSL https://firefox-ci-tc.services.mozilla.com/api/queue/v1/task/${TASKID}/artifacts/${PATH} -o ${ARTIFACT_NAME}

            echo curl -v -L POST \
              -H "Accept: application/vnd.github+json" \
              -H "Authorization: Bearer ${{ github.token }}" \
              -H "X-GitHub-Api-Version: 2022-11-28" \
              -H "Content-Type: ${ARTIFACT_TYPE}" \
              --data-binary @${ARTIFACT_NAME} \
              https://uploads.github.com/repos/${{ github.repository }}/releases/${{ github.event.release.id }}/assets?name=$(basename ${PATH})
            done
