name: Unit Test Coverage
on:
  push:
    branches:
      - main
      - 'releases/**'
  pull_request:
    branches:
      - main
      - 'releases/**'

jobs:
  fetch:
    runs-on: ubuntu-20.04
    steps:
      - name: Install Linux packages
        run: |
          # Add external PPA, latest version of QT is 5.12.x for Ubuntu 20.04
          sudo add-apt-repository ppa:beineri/opt-qt-5.15.2-focal -y
          sudo apt update
          sudo apt install git qt515tools qt515svg qt515networkauth-no-lgpl qt515charts-no-lgpl libgl-dev libpolkit-gobject-1-dev clang-10 qt515websockets liboath-dev -y

      - name: Clone repository
        uses: actions/checkout@v2

      - name: Checkout submodules
        shell: bash
        run: |
          auth_header="$(git config --local --get http.https://github.com/.extraheader)"
          git submodule sync --recursive
          git -c "http.extraheader=$auth_header" -c protocol.version=2 submodule update --init --force --recursive --depth=1

      - name: Generating glean samples
        shell: bash
        run: |
          pip3 install glean_parser
          pip3 install pyyaml
          python3 scripts/generate_glean.py

      - name: Importing translation files
        shell: bash
        run: |
          # Manually add QT executables to path
          export PATH=/opt/qt515/bin:$PATH
          python3 scripts/importLanguages.py

      - name: Compile
        shell: bash
        run: |
          # Manually add QT executables to path
          export PATH=/opt/qt515/bin:$PATH
          qmake CONFIG+=DUMMY QMAKE_CXX=clang++-10 QMAKE_LINK=clang++-10 CONFIG+=debug QT+=svg CONFIG+=webextension CONFIG+=coverage CONFIG+=AUTHTEST
          make -j8

      - name: Run the test script
        shell: bash
        run: |
          # Manually add QT executables to path
          export PATH=/opt/qt515/bin:$PATH
          ./scripts/test_coverage.sh -j 8
