name: Unit Tests
on:
  push:
    branches:
      - main
      - "releases/**"
  pull_request:
    branches:
      - main
      - "releases/**"

# Restrict tests to the most recent commit.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  linux-unit-tests:
    runs-on: ubuntu-22.04
    name: Run Unit tests on Linux
    steps:
      - name: Clone repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          submodules: "recursive"
          persist-credentials: false
      - name: Install dependences
        run: |
          sudo apt-get update
          sudo apt-get install -y $(./scripts/linux/getdeps.py -a linux/debian/control)

      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
        with:
          python-version: "3.10"
          cache: "pip"
      - run: pip install -r requirements.txt

      - name: Building tests
        shell: bash
        run: |
          mkdir -p build
          cmake -S $(pwd) -B build -GNinja
          cmake --build build --target build_tests

      - name: Running native messaging tests
        shell: bash
        run: ctest -L nativemessaging --test-dir build --output-on-failure

      - name: Running QML tests
        shell: bash
        run: ctest -L qml --test-dir build --output-on-failure

      - name: Running unit tests
        shell: bash
        run: ctest -L unit --test-dir build --output-on-failure

  macos-unit-tests:
    runs-on: macos-latest
    defaults:
      run:
        shell: bash -el {0}
    name: Run Unit tests on MacOS

    steps:
      - name: Clone repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          submodules: "recursive"
          persist-credentials: false

      - uses: conda-incubator/setup-miniconda@fc2d68f6413eb2d87b895e92f8584b5b94a10167 # v3
        with:
          miniconda-version: "latest"
          environment-file: env-apple.yml
          activate-environment: vpn

      - name: Install dependencies
        run: |
          export SDKROOT=$(xcrun --sdk macosx --show-sdk-path)
          brew install ninja

      - name: Setup Qt for macOS
        uses: ./.github/actions/qt-setup-taskcluster
        with:
          dest: ${{ github.workspace }}/3rdparty

      - name: Building tests
        run: |
          export SDKROOT=$(xcrun --sdk macosx --show-sdk-path)
          mkdir -p build
          cmake -S . -B $(pwd)/build -GNinja
          cmake --build $(pwd)/build --target build_tests

      - name: Running native messaging tests
        run: ctest -L nativemessaging --test-dir $(pwd)/build --output-on-failure

      - name: Running QML tests
        run: ctest -L qml --test-dir $(pwd)/build --output-on-failure

      - name: Running unit tests
        run: ctest -L unit --test-dir $(pwd)/build --output-on-failure

  windows-unit-tests:
    name: Run Unit tests on Windows
    runs-on: windows-latest
    defaults:
      run:
        shell: bash -el {0}

    steps:
      - name: Clone repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          submodules: "recursive"
          persist-credentials: false

      - name: Setup Qt for Windows
        uses: ./.github/actions/qt-setup-taskcluster
        with:
          dest: ${{ github.workspace }}/3rdparty

      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@ebc0426251bc40c7cd31162802432c68818ab8f0 # v2
        with:
          version: 20.1.4

      - name: Setup clang env variables
        run: |
          echo "CC=${LLVM_PATH}/bin/clang-cl.exe" >> $GITHUB_ENV
          echo "CXX=${LLVM_PATH}/bin/clang-cl.exe" >> $GITHUB_ENV

      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
        with:
          python-version: "3.10"
          cache: "pip"
      - run: pip install -r requirements.txt

      - name: Cache Wireguard NT
        id: cache-wireguard-nt
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: 3rdparty/wireguard-nt
          key: wireguard-nt-${{ hashFiles('windows/wireguard_nt/CMakeLists.txt') }}
          lookup-only: true

      - name: Download Wireguard NT
        if: steps.cache-wireguard-nt.outputs.cache-hit != 'true'
        run: |
          WIREGUARD_NT_URL=$(grep -Eo 'DOWNLOAD[[:space:]].*' windows/wireguard_nt/CMakeLists.txt | awk '{print $2}')
          curl -sSL -o wireguard-nt.zip $WIREGUARD_NT_URL
          unzip -d 3rdparty/ wireguard-nt.zip

      - name: Building tests
        run: |
          mkdir ./build-win

          cmake -S . -B ./build-win -GNinja \
              -DCMAKE_BUILD_TYPE=RelWithDebInfo \
              -DWIREGUARD_FOLDER="$(pwd)/3rdparty/wireguard-nt"
          cmake --build ./build-win --target build_tests

      - name: Running native messaging tests
        shell: bash
        run: ctest -L nativemessaging --test-dir ./build-win --output-on-failure

      - name: Running QML tests
        shell: bash
        run: ctest -L qml --test-dir ./build-win --output-on-failure

      - name: Running unit tests
        shell: bash
        run: ctest -L unit --test-dir ./build-win --output-on-failure
