name: Lottie Tests
on:
  push:
    branches:
      - main
      - 'releases/**'
  pull_request:
    branches:
      - main
      - 'releases/**'


jobs:
  linux-lottie-tests:
    runs-on: ubuntu-20.04
    name: "Run Lottie tests on 6.2.1"
    steps:
      - name: Install Linux packages
        run: |
          sudo apt update
          sudo apt install git libgl-dev libegl-dev libpolkit-gobject-1-dev clang-10 liboath-dev python3 -y
          python3 -m pip install aqtinstall
          aqt install-qt --outputdir /opt linux desktop 6.2.1 gcc_64 -m all

      - name: Clone repository
        uses: actions/checkout@v2

      - name: Install Grcov
        shell: bash
        run: |
          cargo install grcov

      - name: Running tests
        shell: bash
        run: |
          export PATH=/opt/6.2.1/gcc_64/bin:$PATH
          xvfb-run -a ./scripts/tests/lottie_tests.sh -g lottie_lcov.info || echo "OK!"

      - name: Uploading
        uses: actions/upload-artifact@v2
        with:
            name: Foo
            path: lottie

  macos-lottie-tests:
    runs-on: macos-latest
    name: "Run Lottie tests on MacOS Qt6"

    steps:
      - name: Clone repository
        uses: actions/checkout@v2

      - name: Install Qt6
        shell: bash
        run: |
          auth_header="$(git config --local --get http.https://github.com/.extraheader)"
          git clone https://github.com/mozilla-mobile/qt_static_macos
          cd qt_static_macos
          cat qt6* > qt_static.tar.gz
          tar xf qt_static.tar.gz
          sudo mv qt6 /opt
          cd ..

      - name: Install Grcov
        shell: bash
        run: |
          cargo install grcov

      - name: Running tests
        shell: bash
        run: |
          export PATH=/opt/qt6/bin:$PATH
          ./scripts/tests/lottie_tests.sh --grcov lottie_lcov.info

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          directory: .
          flags: lottie_tests
          name: codecov-poc
          files: lottie_lcov.info
          verbose: true

  windows-lottie-tests:
    name: Run Lottie tests on Windows Qt6
    runs-on: windows-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v2

      - name: Install Qt
        shell: bash
        run: |
          auth_header="$(git config --local --get http.https://github.com/.extraheader)"
          git clone https://github.com/mozilla-mobile/qt_static_windows
          cd qt_static_windows
          cat qt6* > qt_static.tar.bz2
          tar xf qt_static.tar.bz2
          tar xf msm.tar.gz
          mkdir /c/MozillaVPNBuild
          cp -r * /c/MozillaVPNBuild
          cd ..
          cp /c/MozillaVPNBuild/SSL/bin/libssl-1_1-x64.dll .
          cp /c/MozillaVPNBuild/SSL/bin/libcrypto-1_1-x64.dll .
          cp /c/MozillaVPNBuild/*.msm .

      - name: Add msvc dev commands to PATH
        uses: ilammy/msvc-dev-cmd@v1

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v1.1

      - name: Running tests
        shell: bash
        run: |
          export PATH=/c/MozillaVPNBuild/bin:$PATH
          ./scripts/tests/lottie_tests.sh
