name: QML Unit Test Coverage
on:
  push:
    branches:
      - main
      - 'releases/**'
  pull_request:
    branches:
      - main
      - 'releases/**'

jobs:
  qml-unit-test:
    runs-on: ubuntu-20.04
    steps:
      - name: Install Linux packages
        run: |
          # Add external PPA, latest version of QT is 5.12.x for Ubuntu 20.04
          sudo add-apt-repository ppa:beineri/opt-qt-5.15.2-focal -y
          sudo apt update
          sudo apt install -y \
               git qt515base qt515tools qt515svg qt515networkauth-no-lgpl qt515charts-no-lgpl \
               libgl-dev libpolkit-gobject-1-dev qt515quickcontrols2 qt515imageformats \
               qt515graphicaleffects qt515websockets qt515declarative \
               clang-10 -y

      - name: Clone repository
        uses: actions/checkout@v2

      - name: Checkout submodules
        shell: bash
        run: |
          auth_header="$(git config --local --get http.https://github.com/.extraheader)"
          git submodule sync --recursive
          git -c "http.extraheader=$auth_header" -c protocol.version=2 submodule update --init --force --recursive --depth=1

      - name: Compile test client
        shell: bash
        run: |
          export PATH=/opt/qt515/bin:$PATH

          pip3 install -r requirements.txt
          python3 scripts/importLanguages.py
          python3 scripts/generate_glean.py

          qmake CONFIG+=DUMMY QMAKE_CXX=clang++-10 QMAKE_LINK=clang++-10 CONFIG+=debug QT+=svg
          make -j$(nproc)

      - name: Run the test script
        shell: bash
        run: |
          export PATH=/opt/qt515/bin:$PATH
          xvfb-run -a ./tests/qml/qml_tests -platform offscreen