name: WebAssembly

on:
  push:
    branches:
      - main
      - 'releases/**'
  pull_request:
    branches:
      - main
      - 'releases/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  wasmQt6:
    name: Wasm Qt6
    runs-on: ubuntu-20.04
    outputs:
      matrix: ${{ steps.testGen.outputs.tests }}
    env:
      QTVERSION: 6.4.2

    steps:
      - name: Clone repository
        uses: actions/checkout@v3
        with:
            submodules: 'true'

      - name: Install Qt
        shell: bash
        run: |
          python3 -m pip install aqtinstall
          # qt6.2.3 for wasm needs the desktop linux installation
          python3 -m aqt install-qt -O /opt linux desktop $QTVERSION
          python3 -m aqt install-qt -O /opt linux desktop $QTVERSION wasm_32 -m all

      - name: Install python dependencies
        shell: bash
        run: |
          pip install -r requirements.txt

      - name: Setup emsdk
        uses: mymindstorm/setup-emsdk@v11
        with:
          # Make sure to set a version number!
          version: 3.1.14
          # This is the name of the cache folder.
          # The cache folder will be placed in the build directory,
          #  so make sure it doesn't conflict with anything!
          actions-cache-folder: 'emsdk-cache'

      - name: Compiling
        shell: bash
        run: |
          export PATH=/opt/$QTVERSION/wasm_32/bin:/opt/$QTVERSION/gcc_64/bin:$PATH
          mkdir build
          /opt/$QTVERSION/wasm_32/bin/qt-cmake -S . -B build -DQT_DEBUG_FIND_PACKAGE=ON -DQT_HOST_PATH=/opt/$QTVERSION/gcc_64 -DQT_HOST_PATH_CMAKE_DIR=/opt/$QTVERSION/gcc_64/lib/cmake -DCMAKE_BUILD_TYPE=Release -DQT_WASM_EXTRA_EXPORTED_METHODS=ENV
          cmake --build build -j4
          cp $(pwd)/build/src/mozillavpn.wasm wasm
          cp $(pwd)/build/src/mozillavpn.js wasm
          cp $(pwd)/build/src/qtloader.js wasm
          cp $(pwd)/tests/functional/servers/fxa_endpoints.js wasm
          cp $(pwd)/tests/functional/servers/guardian_endpoints.js wasm
          cp -r $(pwd)/tools/logviewer wasm

      - name: Generate tasklist
        id: testGen
        shell: bash
        run: |
          echo -n "tests=" >> $GITHUB_OUTPUT
          for test in $(find tests/functional -name 'test*.js' | sort); do
            printf '{"name": "%s", "path": "%s"}' $(basename ${test%.js} | sed -n 's/test//p') $test
          done | jq -s -c >> $GITHUB_OUTPUT

      - name: Check tests
        shell: bash
        env:
          TEST_LIST: ${{ steps.testGen.outputs.tests }}
        run: |
          echo $TEST_LIST | jq

      - name: Uploading
        uses: actions/upload-artifact@v3
        with:
            name: WebAssembly Build Qt6
            path: wasm

  functionaltests:
    name: Functional tests
    needs:
      - wasmQt6
    runs-on: ubuntu-20.04
    timeout-minutes: 45
    strategy:
      fail-fast: false # Don't cancel other jobs if a test fails
      matrix:
        test: ${{ fromJson(needs.wasmQt6.outputs.matrix) }}
    env:
      QTVERSION: 6.4.2

    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Cache build
        id: cache-build
        uses: actions/cache@v3
        with:
          path: build/
          key: ${{ github.sha }}

      - name: Install Qt
        shell: bash
        run: |
          python3 -m pip install aqtinstall
          python3 -m aqt install-qt -O /opt linux desktop $QTVERSION

      - name: Install dependecies
        run: |
          sudo apt install --no-upgrade firefox xvfb -y
          pip3 install -r requirements.txt
          npm install

      - name: Download a Build Artifact
        uses: actions/download-artifact@v3
        with:
          name: WebAssembly Build Qt6
          # Destination path
          path: wasm

      - name: Build addons
        shell: bash
        run: ./scripts/addon/generate_all_tests.py -q /opt/$QTVERSION/gcc_64/bin

      - name: Running ${{matrix.test.name}} Tests
        id: runTests
        uses: nick-invision/retry@v2
        with:
          timeout_minutes: 15
          max_attempts: 3
          command: |
            export PATH=$GECKOWEBDRIVER:$(npm bin):$PATH
            export HEADLESS=yes
            xvfb-run -a npm run functionalTestWasm -- ${{matrix.test.path}}
