name: WebAssembly

on:
  push:
    branches:
      - main
      - 'releases/**'
  pull_request:
    branches:
      - main
      - 'releases/**'

jobs:
  wasm:
    runs-on: ubuntu-20.04

    steps:
      - name: Clone repository
        uses: actions/checkout@v2

      - name: Checkout submodules
        shell: bash
        run: |
          auth_header="$(git config --local --get http.https://github.com/.extraheader)"
          git submodule sync --recursive
          git -c "http.extraheader=$auth_header" -c protocol.version=2 submodule update --init --force --recursive --depth=1

      - name: Install Qt
        shell: bash
        run: |
          python3 -m pip install aqtinstall
          python3 -m aqt install --outputdir /opt 5.15.0 linux desktop wasm_32 -m qtcharts

      - name: Install python dependencies
        shell: bash
        run: |
          pip install -r requirements.txt
  
      - name: Setup emsdk
        uses: mymindstorm/setup-emsdk@v7
        with:
          version: 1.39.8

      - name: Compiling
        shell: bash
        run: |
          ./scripts/wasm_compile.sh /opt/5.15.0/wasm_32/bin

      - name: Uploading
        uses: actions/upload-artifact@v1
        with:
            name: WebAssembly Build
            path: wasm

  ghPages:
    runs-on: ubuntu-20.04
    needs: [wasm]
    if: github.ref == 'refs/heads/main'  # Only do this on Main Branch Pushes and not PR's
    name: Publish Wasm on Github Pages
    env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Download a Build Artifact
        uses: actions/download-artifact@v2.0.8
        with:
          name: WebAssembly Build
          # Destination path
          path: _site
      - name: GH Pages deploy
        uses: Cecilapp/GitHub-Pages-deploy@3.1.0
        with:
          # A verified email.
          email: sstreich@mozilla.com
          # Where static files are.
          build_dir: _site
          


